// custome body and utils classes : 
body { 
    font-family: 'etab';
    background-color: #f0f0f0  ;
}
// btn classes : 
.btn-custom {
    background-color:#f0f0f0 ;
    border: 1px solid #a5804a ; 
    color: #a5804a;
    padding: 0vh 1.2vw;
    border-radius: 0;
    
  }
  
  .btn-custom:hover {
    background-color: #a5804a    ;
    color:  #ffffff;
  }
//  text classes : 
.text-slim  {
    font-weight: 100;

}
.custom-product-card-add-to-cart-btn {
  background-color: #a5804a;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1em;
  padding: 0.8vh 1vw;
  transition: background-color 0.5s ease, color 0.5s ease;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1vh;
  border-radius: 0; 
}

.custom-product-card-add-to-cart-btn:hover {
  background-color: #f0f0f0;
  color: #a5804a;
}
// slider for hero section :
salla-slider {
    .swiper-pagination-bullet {
      width: 30px; /* حجم الأيقونة */
      height: 30px; /* حجم الأيقونة */
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      opacity: 0.3;
  
      &::before {
        content: '\f3a5'; /* رمز الأيقونة من Font Awesome */
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 24px; /* حجم الأيقونة */
        color: #000  ;
      }
  
      &-active {
        opacity: 1;
        
        &::before {
          color: #000  ;
        }
      }
      &:hover { 
        color: #a5804a;
      }
    }
  
    .swiper-pagination-bullets.swiper-pagination-horizontal {
      display: flex;
      justify-content: center;
      gap: 5vw;
      bottom: 20px; 
    }
  }


