.product-block {
    background-color: #fff;
    color: #27314b;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .product-block__thumb {
    position: relative;
  }
  
  .product-block__thumb img {
    width: 100%;
    border-radius: 8px;
  }
  
  .promotion-title {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #a5804a;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
  }
  
  .product-block__info {
    text-align: center;
  }
  
  .product-block__info h3 {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .product-price {
    font-size: 1.2em;
    margin: 5px 0;
    color: #a5804a;
    display: none;
  }
  
  .product-description {
    font-size: 1em;
    margin: 10px 0;
  }
  
  .add-to-cart {
    background-color: #a5804a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .product-block:hover {
    background-color: #f0f0f0;
  }
  
  .product-block:hover .promotion-title {
    display: block;
  }
  
  .product-block:hover .product-price {
    display: inline;
  }
  
  .add-to-cart:hover {
    background-color: #f0f0f0;
    color: #a5804a;
  }
  
  .product-block__info h3::after {
    content: '|';
    margin: 0 10px;
    color: #a5804a;
    display: inline-block;
    vertical-align: middle;
  }
  
  .product-block:hover .product-block__info h3::after {
    display: inline;
  }
  