<section class="s-block s-block--hero-slider s-block--full-bg wide-placeholder">
	<salla-slider id="main-slider-{{ position }}" auto-play show-controls="false" pagination>
		<div slot="items">
			{% for slide in component.bg_slider_collection %}
				<div class="swiper-slide w-full h-full min-h-[300px] lg:min-h-[528px] bg-dark relative">
					<div style="background-image: url({{ slide.image }});" class="bg-cover bg-center absolute inset-0"></div>
					<div class="flex-center container pb-16 sm:pb-0 home-slider__content relative h-full">
						<div class="w-4/6 text-center md:w-7/12 lg:w-5/12 text-black">
							<h2 data-swiper-parallax="-500" class="lg:text-8xl text-5xl font-bold leading-tight mb-4 font-slim-larg hover:text-[#a5804a] transition-all duration-300">{{ slide.bg_slider_title }}
							</h2>
							<p data-swiper-parallax="-300" class="line-clamp-2 description text-2xl font-slim-larg hover:text-[#a5804a] transition-all duration-300">{{ slide.bg_slider_secoundry_paragraph }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</salla-slider>
</section>
